body {
	background: white;
	color: black;
	font-size: 75%;
}

li, 
p {
	font-size: 1em;
	line-height: 1.5;
}

p {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-size: 2em;
	line-height: 1em;
}